@import url('https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
*{
padding: 0;
margin: 0;
color:#454545;
}
.cart{
width:3%;
position:relative;
top: 60px;
left: 0%;
cursor: pointer;

}
.cart:before{
content: attr(data-count);
position: absolute;
color: white;

font-size: 15px;
text-align: center;
top: -12px;
width: 20px;
height: 20px;
background: red;
border-radius: 50%;
opacity: 0;

}
.cart.zero:before{
opacity:1;
}
section{
margin-top: 50px;
display: flex;


}
section div{
width: 22%;
height: 93%;
background:#f5f5f5;
padding: 1%;
position: relative;

}
img{
width: 300px;
height: 186px;

}
p{
margin: 5px;
}
h6{
width:50px;
padding:50px;
margin:10px;
font-size: 10px;

}
button{
padding: 5px;
background:red;
outline: none;
border: none;
cursor: pointer;
}
section div span
{position:absolute;
top: 14px;
left: 13px;
background: red;
width: 300px;
height: 186px;
display: none;
}
.selection div span img{
width:100%;
height: 100%;

}
.select{
width: 60%;
height:580px;
background: #222;
position:absolute;
top: -1000px;
left: 20%;
transition: 0.5s;
overflow: auto;
margin: auto;

}
.select.display{top: 10px;}
.select div{
width: 100%;
height: 200px;
display:flex;
padding: 5px;
border: 1px solid white;
position: relative;
margin: 5px auto;

}
.select div img{
width: 300px;
height: 100%;

}
.select div p{
padding: 35px;
color:white
}
.seelect div h6,select div button{
position:absolute;
padding: 10px;
left:45%;
top:50%;
color:white;

}

.select div span{
display: none;

}