ul{
  height: fit-content;
    list-style-type: none;
    padding:20px;
    margin-bottom: 5px;
    overflow: hidden;
    background-color:purple;
}
li{
    float: left;
    font-size: x-large;
}

li a, .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 30px;
    text-decoration: none;
  }
   
  ul li :hover{
    background-color: coral;
  }
  .logo{
    float: left;
    padding-right: 10px;
  }



  .container{
    width:100%;
    height: 300px;
    display: block;
    margin-top: 20px; 
    
    }
    .swiper{
        width:100%;
        height:fit-content;
     }
     .swiper-slide img{
        width:100%;
     }
  
     .swiper .swiper-pagination-bullet-active{
      background-color: white;
      size: 40px;
     }
     .swiper .swiper-button-next,  .swiper .swiper-button-prev{
       color: white;
     }
     .content1{
      position:absolute;  
      top: 10%;
      left:42%;      
     }
     .content1 img{
      
      width:250px;
      height: 50px;     
     }
     .content2{
      position:absolute;  
      top: 10%;
      left:5%;
     }
     .content2 img{ 
      opacity: 0.8;
      width:250px;
      height: 50px; 
     }
     .content3{
      position:absolute;  
      top: 10%;
      left:50%;
     }
     .content4{
      position:absolute;  
      top: 10%;
      left:30%;
     }
     .con{
      margin-left: 200px;/* navigation mar to content space*/
     }
     .details{
      margin-top: 50px;
      margin-left: 50px;
      border: 2px solid black;
      width:250px;
      height: 300px;
      float: left;
      text-align: center;
     }
      
     .details img{
      
      width:100%;
      height: 200px;
     }
     
 

     